@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@500&family=Lato:wght@300;400&display=swap');
/*html sayfasındaki linkler import ile css dosyasına taşındı*/
* {
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;

}


#showcase { 
    color:#fff;
    background-image:url('https://images.squarespace-cdn.com/content/v1/540efafce4b02e0dc20adb52/1508514915782-Q7TJSL9DWBAGFCRUDMWK/Ryan-Gosling-and-Giant-Hologram-in-Blade-Runner-2049.jpg?format=2500w');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    height: 80vh;
    width: 100%;
    text-align: center;
    position: relative;
}
#showcase .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 19px;
    font-weight: lighter;
    background: rgba(29, 70, 70, 0.2);
    padding: 20px;
    width: 60%;
    border-radius: 10px;
    letter-spacing: 5px;
    
    
}



.main-header {
    background:rgba(153, 0, 204,0.2);
    padding: 8px 16px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.main-nav {
    display: inline-block;
    width: calc(100% - 99px);
    text-align: right;
}
.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav__item {
    display: inline-block;
    margin: 0 10px;
}

.main-header__logo {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 21px;
}

.main-nav__item a {
    text-decoration: none;
    color: #ffdcf4;
}

.main-nav__item a:hover, .main-nav__item:hover::before {
   color:#b797fa;
}

.main-nav__item:active::before, .main-nav__item a:active {
   color: #fff;
}

.main-nav__item::before {
    content: '\2022';
    color:#fff;
}
.main-nav_item__login a {
    color: #ffdcf4;
    background-color:transparent;
    padding:4px 16px;
    border-radius: 5px;
    border: 1px solid #ffdcf4;
    transition-duration: .6s;
}
.main-nav_item__login a:hover {
    color:#ad98e2 ;
    border: 1px solid #2f4779;
    background-color:#2f4779;
}

.main-nav_item__login::before {
    content: none;
    color: #fff;
}
#how-it-works { 
    color:#fff;
    background-color:#2f4779;
    padding: 10px;
    text-align: center;
    border-top:3px solid thistle;
     height:400px;
}
.row {
    
    text-align: center;
   
}
.row::after{
    content: "";
    display: block;
    clear: both;
}
.col-3 {
    float: left;
    width: 33.3%;
}
.col-2 {
    float: left;
    width: 50%;
    height: 350px;
}



.icon-box h3 {
    color: #3e4555;
    font-size: 26px;
}



.features__left {
    background: url("https://static.boxofficeturkiye.com/news/1350x675/4131-0bivR.png");
    background-size: cover;
    background-position: top center;
}

.features__right {
    background-color:#d2e0ed;
    padding: 75px;
    vertical-align: top;
}
.features__left
.features__right {
    height: 350px;
}

.features__right h3 {
    font-size: 30px;
}

#features a {
    background-color: #e14b42;
    color: #fff;
    padding: 7px 15px;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
    border: 1px solid #FC997C;
    border-radius: 10px;
    display: inline-block;
    margin-top: 15px;
    transition-duration: .6s;
}

#features a:hover {
    border: 1px solid #FC997C;
    color: #e14b42;
    background-color: #fff;
}
.section-title {
    text-align: center;
    color:#dadbed ;

}
#plans{
    background-image: url(https://images.hdqwalls.com/wallpapers/the-big-universe-is-here-4k-q4.jpg);
    background-size: cover;
    background-position: center;
    background-color:#2f4779;
    border-top: 2px solid #2f4779;
    margin: 0px;
    
}
.plan {

    color:white;
    text-align: center;
    padding: 16px;

}
.plan__badge{
    background-color:#ad98e2 ;
    opacity: 0.5;
    color:#e14b42;
    padding: 8px;
    border-radius: 8px;

}

.inner-plan{
    background-color: transparent;
    padding: 25px 10px;
    border: 5px solid #d2e0ed;
    border-radius: 10px;
    box-shadow: -5px -10px 20px 5px #a52b52, 5px 10px 20px 5px #6e68c0;
    transition: box-shadow .3s;
}
.inner-plan:hover{
    box-shadow: -5px -5px 30px 5px #ffd08e, 5px 5px 30px 5px #ff8907;
     
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

.container{
    margin: 0 auto;
    width: 1000px;
}
.button-plans{
    padding: 10px;
    background-color:#e14b42;
    color:#d2e0ed;
    border: 2px solid #dadbed;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: .6s;
}
.button-plans:hover{
    background-color: #fff;
    color: #e14b42;
    opacity: 0.7;
}
.plan ul{
    padding: 0;
    list-style-type: none;
}

#backtotop{
    position: fixed;
    bottom: 10px;
    right: 10px;

}
#backtotop i{
    color: #6e68c0;
    font-size: 40px;
    transition: 0.6s;

}
#backtotop i:hover{
    color: #d6efed;
}
.counter{
    background: linear-gradient(to bottom,#ff6666 0%,#993399 100%);
    text-align: center;
    padding: 30px;
}
.counter-item{
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}
.counter h4{
    margin: 0;
    color: #fff;
  
}
.card-image{
    width:100%;
    height: 300px;
    /*En/boy oranına bakılmaksızın görüntüyü içerik kutusuna uyacak şekilde uzatan varsayılan değerdir.*/
    object-fit : fill;
}

.card{
    
    background: rgba(243, 227, 227,0.2);
    border-radius: 5px;
    cursor: pointer;
    padding: 20px;
    box-shadow: 10px 10px 40px  rgba(94, 5, 112, 0.3);
    position: relative;
    top: 0;
    /*all değeri tüm tanımlarda geçiş yapılacağı anlamındadır.*/
    transition: all .3s;
    
}
.card:hover{
    position: relative;
    /*Kartın üstüne gelindiğinde translateY ile y ekseninde -10px hareket etmesini sağlanır.*/ 
    transform: translateY(-10px);
}
.card-container{
    padding: 10px;
}
#movies{
    background:#2f4779;
    color: #fff;
}
.card-body{
    text-align: center;
    font-size: 15px;
   
}
.section-title{
    margin: 0;
    padding: 10px;
}
.btn-primary{
    padding: 10px;
    background-color: #dadbed;
    color: #2f4779;
    border: 2px solid #dadbed;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: .6s;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: bolder;
    

}
.btn-primary:hover{
    background-color: #e14b42;
    color: #ffdcf4;
    
}
footer{
    background: #00004d;
    

}
footer a{
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}
footer ul{
    margin:0;
    padding-top: 10px ;
  

}
footer ul li{
    list-style-type:none;
    display: inline-block;
    margin-left: 5px;
}
footer .col-2{
    height: 55px;
    
 
}
#social-links{
    text-align: right;
    position: relative;
    right: 60px;
    
}
#footer-links{
    text-align: left;
    padding: 10px 30px;
    letter-spacing: 2px;
    position: relative;
    top: 10px;
}

.fab{
    padding: 10px;
    font-size: 20px;
    border-radius: 20px;
}
.fab:hover{
    opacity: 0.7;
}
.fa-facebook{
    background-color: #3B5998;
    color: #fff;

}
.fa-twitter{
    background-color: #55ACEE;
    color: #fff;

}
.fa-instagram{
    background: linear-gradient(to bottom,#ff6666 0%,#993399 100%);
    color: #fff;

}
/*footer linkleri class ile ayırıp aralarına boşluk eklendi ve hover durumunda opasitesi değiştirildi.*/
.link {
    padding-left: 40px;
    
}
.link:hover{
    opacity: 0.4;
}
.signup-page{
    padding: 30px;
}
