        body {
            margin: 0;
        
        }
        
        #header {
            position: relative;
            background-image:linear-gradient(to right,#996633,#e6ccb3 );
            /*background-image: url(../image/bg.jpg);*/
            background-size: 1930px;
            height: 100vh;
           
       
        }
        
        #header h1 {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
           
            font-size: 80px;
            color: red;
        
        }
        .cover{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #A66CFF;
            opacity: 0.2;
             /*opaklığını ayarlar. 0 ile 1 arasında değer alır.0-saydam 1-opak */
        }
        /* backgroundCSS example one start */
        #header h2{
            color: pink;
            margin: 0;
            position: absolute;
            bottom: 25%;
            left: 25%;
            transform: translate(-25%, -25%);
            font-size: 41px;
        }
        
        /* backgroundCSS example one finish */
        
        /* backgroundCSS example second start */
        #header h3{
            margin: 0;
            color: #31087B;
            font-size: 58px;
            position: absolute;
            top: 25%;
            right: 5%;
            transform: translate(-25%, -5%);
            border: 4px solid #395B64;
            border-radius: 10px;
        }
        
        #header h3:hover{
            color: #A66CFF;
            background-color: #31087B;
        }
        /* backgroundCSS example second finish */