/* html,body{
            height: 100%;
            hem html hem body için kullanılması gereken sabit yükseklik değeri bulunuyor bunu bu şekilde yazabiliriz
         */
         body {
            margin: 0;
        
        }
        
        #header {
            position: relative;
            background-color: red;
            background-image: url(../image/bg.jpg);
            background-size: 1930px;
            height: 100vh;
            /* viewport - heigt:  kullanıcın görmüş olduğu yüksekliği ... kapla */
            /* width: 100vw; */
            /* view - width: görünen alanın yüzde 80'ini almak */
        }
        
        #header h1 {
            margin: 0;
            position: absolute;
            /* position absolute dediğimizde akış dışına çıkar.  */
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            /* transform translate dediğimiz de normalde h1 etiketinin ilk harfinden 
                    ortalandığı için bunu kullandığımızda h1 etiketinin ortası neresiyse oradan ortalar */
            font-size: 80px;
            color: red;
        
        }
        /* backgroundCSS example one start */
        #header h2{
            color: pink;
            margin: 0;
            position: absolute;
            bottom: 25%;
            left: 25%;
            transform: translate(-25%, -25%);
            font-size: 41px;
        }
        
        /* backgroundCSS example one finish */
        
        /* backgroundCSS example second start */
        #header h3{
            margin: 0;
            color: #31087B;
            font-size: 58px;
            position: absolute;
            top: 25%;
            right: 5%;
            transform: translate(-25%, -5%);
            border: 4px solid #395B64;
            border-radius: 10px;
        }
        
        #header h3:hover{
            color: #A66CFF;
            background-color: #31087B;
        }
        /* backgroundCSS example second finish */